<footer class="site-footer">
	<script src="/js/jquery-latest.min.js"></script>
	<script src="/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/js/site-menu.js"></script>

	<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"
		role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>

	<div class="wrapper">
		<div class="row footer-content quick-links">
			<div class="col-sm-3">
			  <ul class="contact-list">
			  	<li><a href="/"><b>Main Page</b></a></li>
			  	<li><a href="/#mailing">Mailing List</a></li>
			  	<li><a href="/#sponsors">Sponsors</a></li>
			  	<li><a href="/events/#workshops">Workshops</a></li>
			  </ul>
			</div>
			<div class="col-sm-3">
			  <ul class="contact-list">
			  	<li><a href="/store/"><b>Store</b></a></li>
			  	<li><a href="/store/#quadcopters">Quadcopters</a></li>
			  	<li><a href="/store/#breadboards">Breadboards</a></li>
			  	<li><a href="/store/#mircocontrollers">Microcontrollers</a></li>
			  </ul>
			</div>
			<div class="col-sm-3">
			  <ul class="contact-list">
			  	<li><a href="/media/"><b>Misc</b></a></li>
			  	<li><a href="/starters/">CREATE Starters</a></li>
			  	<li><a href="/questnet/">Questnet</a></li>
			  	<li><a href="/media/#projects">Projects</a></li>
			  </ul>
			</div>
			<div class="col-sm-3">
			  <ul class="contact-list">
			  	<li><a><b>Social</b></a></li>
			  	<li><a target="_blank" href="https://instagram.com/CreateUNSW"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i>Instagram</a></li>
			  	<li><a target="_blank" href="https://facebook.com/CreateUNSW"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>Facebook</a></li>
			  	<li><a target="_blank" href="https://www.youtube.com/user/createunsw"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i>Youtube</a></li>
			  </ul>
			</div>
			<hr>
		</div>
		<div class="footer-col-wrapper">
			<div class="footer-col">
				<ul class="contact-list footer-content">
					<li>Copyright <i class="fa fa-copyright"></i> 2017, <a href="http://www.createunsw.com.au/">CREATE NSW Inc</a>. All Rights Reserved.</li>
					<div class="maintainers-list">
						<li><small>Site Contributors:
						<a href="http://halestrom.net" target="_blank">W.Hales</a>,
						<a href="https://github.com/will-weng" target="_blank">W.Weng</a>,
						<a href="https://github.com/MrChrisJoy" target="_blank">C.Joy</a>
						</small></li>
					</div>
					<li><small>Designed & Developed by <a href="https://www.chrisjoy.me/" target="_blank">Chris Joy</a></small></li>
				</ul>
			</div>
			<div class='footer-col-3 sponsors footer-content' style="float:right">
				<b>Sponsored By:</b><br>
				<a HREF='http://www.arc.unsw.edu.au/' target="_blank"><img src='/images/Sponsors/arc.jpg' /></a>
				<a HREF='http://www.cochlear.com/' target="_blank"><img src='/images/Sponsors/cochlear-logo.png' /></a>
				<a HREF='https://www.unsw.edu.au/' target="_blank"><img src='/images/Sponsors/alCw19yT.jpg' /></a>
			</div>
		</div>
	</div>
</footer>
