<footer class="site-footer">
  <script src="/js/jquery-latest.min.js"></script>
  <script src="/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="OTJiYWVhMmUtZTA3YS00N2Q4LWI4NmEtMTQ3MTkxMWViNDkwNjM2MjM0MzkzODUxMDk4OTQy"></script>
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />

  <script src="/js/site-menu.js"></script>

  <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"
    role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list footer-content">
          <li>Copyright <i class="fa fa-copyright"></i> 2017, <a href="http://www.createunsw.com.au/">CREATE NSW</a> Inc.</li>
          <li><small>Site Designed by <a target="_blank" href="https://www.chrisjoy.me/">Chris Joy</a></small></li>
        </ul>
      </div>
      <div class='footer-col-3 sponsors' style="float:right;">
        <a HREF='http://www.arc.unsw.edu.au/' target="_blank"><img src='/images/Sponsors/about-jpg.jpg' /></a>
        <a HREF='http://www.cochlear.com/' target="_blank"><img src='/images/Sponsors/cochlear-logo.png' /></a>
        <a HREF='https://www.unsw.edu.au/' target="_blank"><img src='/images/Sponsors/alCw19yT.jpg' /></a>
        <a><img src='/images/Sponsors/icon-sponsors2.png' /></a>
      </div>
    </div>
  </div>
</footer>
