<div class="wrapper">
<div class="trigger site-navigation">
<ul class="topnav" id="myTopnav">
	<a class="page-link site-title-banner" href="/">{{site.title}}</a>
	{% for sitePage in site.pages %}
	    {% if sitePage.type == "section" %}
		<li><a class="right-nav page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a><span style="float:left;font-size:13px;" class="exclamationMark">|</span></li>
	    {% endif %}
	{% endfor %}
		<li><a class="right-nav page-link" href="/">Home</a><span style="float:left;font-size:13px;" class="exclamationMark">|</span></li>
	<li class="icon">
		<ar href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></ar>
	</li>
</ul>
</div>
</div>
<hr class="hr-line"/>

