---
layout: default
---

<style type="text/css">
.people-cover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url({{ page.cover-url }});
  background-attachment: fixed;
  height: 70vh;
}
.people-cover span {
  font-size: 0.5em;
  font-color: white;
  background: red;
  margin: 0.4em;
  padding:0.7em;
  box-shadow: 4px 4px 2px black;
  display: inline-block;
}
.people-cover span b{
  text-shadow: 2px 2px black;
}
.profile-pic {
  border: 0;
  width: 160px;
  height: 160px;
}

</style>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="jumbotron general-cover people-cover" >
      <div class="wrapper"><button class="btn btn-primary" onclick="location.href='/team/#{{ page.status }}'"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Team</button></div>
      <div class="wrapper">
        <img src="{{ page.face-url }}" class="img-thumbnail profile-pic center-block"></img>
        <h1 class="post-title" itemprop="name headline"><b>{{ page.title }}</b></h1>
        <center style="margin-top: -20px">
          <span>
          {% if page.role %}
            <strong><b class="small-site-title"> {{page.role}} </b></strong>
          {% endif %}
          {% if page.year %}
            - <time datetime="{{ page.year }}">{{ page.year }}</time>
          {% endif %}
          <br>
          {% if page.email-url  %}
            <a href="mailto:{{ page.email-url }}" target="_blank" class="btn btn-secondary"><i class="fa fa-envelope-o fa-lg"></i></a>
          {% endif %}
          {% if page.linkedin-url  %}
            <a href="{{ page.linkedin-url }}" target="_blank" class="btn btn-secondary"><i class="fa fa-linkedin fa-lg"></i></a>
          {% endif %}
          {% if page.github-url  %}
            <a href="{{ page.github-url }}" target="_blank" class="btn btn-secondary"><i class="fa fa-github fa-lg"></i></a>
          {% endif %}
          </span>
        </center>
      </div>
    </div>
  </header>

  <div class="wrapper">
    <div class="post-content" itemprop="articleBody">
      <h2><i class="fa fa-user fa-lg" aria-hidden="true"></i> {{ page.title }} <small>({{ page.role }} - {{ page.year }})</small> </h2>
      {{ content }}
    </div>
    <br>
    <hr>
    <footer class="postNavigation">
    {% if page.previous.url %}
      <div>
        <a href="{{page.previous.url}}"><img src="{{ page.previous.face-url }}" class="img-thumbnail profile-pic text-img" alt="{{page.previous.title}}"></img></a>
        <a class="postPrev" href="{{page.previous.url}}">{{page.previous.title}}</a>
      </div>
    {% endif %}
    {% if page.next.url %}
      <div>
        <a href="{{page.next.url}}"><img src="{{ page.next.face-url }}" class="img-thumbnail profile-pic text-img" style="float:right;" alt="{{page.next.title}}"></img></a>
        <a class="postNext" href="{{page.next.url}}">{{page.next.title}}</a>
      </div>
    {% endif %}
    </footer>
  </div>

</article>
