---
layout: default
head:
  snipcart.html
---

<div class="wrapper">
  <div style="display: inline;">
  <button class="btn btn-secondary" onclick="location.href='/store/#{{ page.category }}'"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Store</button>
  <button class="btn btn-secondary snipcart-add-item"
    data-item-name="{{ page.name }}"
    data-item-id="{{ page.sku }}"
    data-item-image="{{ page.image }}"
    data-item-url="{{ site.baseurl }}"
    data-item-price="{{ page.price }}"  style="float: right">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    Purchase
  </button>
  <div>

  <center><br><br>
      <h1>{{ page.title }}</h1><br>
    <img src="{{ page.image }}" alt="{{ page.title }}" class="thumbnail"/>
  </center>
    <div class="profile-container">
      <p>{{ page.content }}
      {% assign price_split = page.price | round: 2 | split: "." %}
      {% assign integral = price_split[0] %}
      {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
      <br><br><b>Price</b>: ${{ integral }}.{{ fractional }}
      </p>
      <button class="btn btn-secondary snipcart-add-item"
        data-item-name="{{ page.name }}"
        data-item-id="{{ page.sku }}"
        data-item-image="{{ page.image }}"
        data-item-url="{{ site.baseurl }}"
        data-item-price="{{ page.price }}">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Purchase {{ page.title }}
      </button>
    </div>
  </div>
</div>